body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
}

h1 {
  text-align: center;
  color: red;
  margin-top: 20px;
}

p {
  text-align: center;
  color: #555;
  font-size: 16px;
  margin-bottom: 20px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 20px auto;
  width: 300px;
}

li {
  font-size: 18px;
  color: #333;
  padding: 10px;
  margin-bottom: 10px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

li span {
  float: right;
  color: #ff4d4d;
  font-weight: bold;
}
