.item {
    font-size: 18px;
    color: #333;
    margin: 10px 0;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
  }
  
  .item span {
    color: #ff4d4d;
    font-weight: bold;
  }
  
  .item:hover {
    background-color: #e0e0e0;
  }
  